<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Imports -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{  url_for('static', filename='css/style.css') }}" rel="stylesheet">

        <!-- Website -->
        <title>FRPG Einsatzbild</title>
        <link rel="icon" type="image/png" href="../static/img/frpg-logo.png">

        <!-- PWA -->
        <link rel="manifest" href="/static/manifest.json">

        <!-- IOS-Support -->
        <link rel="apple-touch-icon" href="/static/icons/icon-512.png">
        <meta name="apple-mobile-web-app-status-bar" content="#00407f">
        <meta name="theme-color" content="#00407f">
    </head>
    <body>
        <h1>Einsatzbild erstellen</h1>

        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">

            <!-- Upload Bereich -->
            <div class="form-group">
                <label class="form-label">Einsatz-Bild</label>

                <label class="upload-container">
                    <input type="file"
                           accept="image/png, image/jpeg, image/jpg"
                           name="file"
                           id="fileInput"
                           required
                           hidden>

                    <div class="upload-content">
                        <img src="../static/img/upload-icon.png"
                             alt="upload-icon"
                             class="upload-icon">

                        <div class="upload-text">
                            <span id="uploadLabel">Bild auswählen</span>
                        </div>
                    </div>
                    <img id="previewImage">
                </label>
            </div>

            <div class="form-group">
                <label for="selection">Einsatz-Art</label>
                <select id="selection" name="selection" required class="custom-select">
                    <option value="chirurgisch">Chirurgisch</option>
                    <option value="internistisch">Internistisch</option>
                    <option value="neurologisch">Neurologisch</option>
                    <option value="reanimation">Reanimation</option>
                    <option value="verkehrsunfall">Verkehrsunfall</option>
                </select>
            </div>

            <!-- Download Button

            <button type="submit" class="submit-btn">Herunterladen</button>

            -->

            <button type="submit" class="submit-btn">Weiter</button>
        </form>

        <div id="loading-screen">
            <div class="spinner"></div>
            <p>Bild wird verarbeitet</p>
        </div>

        <script>
            if ('serviceWorker' in navigator) {
              navigator.serviceWorker.register('/static/service-worker.js');
            }

            document.getElementById("uploadForm").addEventListener("submit", function () {
                document.getElementById("loading-screen").style.display = "flex";
            });

            // Preview Image Function

            const fileInput = document.getElementById("fileInput");
            const preview = document.getElementById("previewImage");

            fileInput.addEventListener("change", function() {

                const file = this.files[0];

                if (file) {
                    preview.src = URL.createObjectURL(file);
                    preview.style.display = "block";
                }

            });
        </script>
    </body>
</html>

